<!DOCTYPE html>
<html>
<h1>
<%= "#{@team.name}" %>
</h1>

<h2>
    <p>Team Motto: <%= "#{@team.motto}" %></p>
</h2>
<%Member.all.each do |member|%>
    <h2>Hero Name: <%="#{member.name}"%></h2>
    <p>Hero Power: <%="#{member.power}"%></p>
    <p>Hero Biography: <%="#{member.bio}"%></p>
<%end%>


</html>